.search-form {
  margin: 0 auto 10px auto;
  padding: 70px 0 69px 0;
  border-bottom: solid 1px #424242;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 80px 0 109px 0;
  }
}

.search-form__form {
  display: flex;
  justify-content: space-between;
  background: #2F2F2F;
  border-radius: 9px;
  padding: 16px 30px 16px 19px;
}


@media screen and (max-width: 765px) {
  .search-form__form {
    position: relative;
  }
}


.search-form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8B8B8B;
  background: none;
  border: none;
  margin: 0;
}


@media screen and (max-width: 765px) {
  .search-form__search {
    display: none;
  }
}

.search-form__tumb-description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-left: 14px;
}

@media screen and (max-width: 320px) {
  .search-form__tumb-description {
    font-size: 11px;
  }
}

.search-form__submit-button {
  background: none;
  margin: 0;
  border: none;
  padding: 0 10px 0 0; 
}

@media screen and (max-width: 765px) {
  .search-form__submit-button {
    padding: 0;
  }
}

.search-form__container {
  display: flex;
  align-items: center;
}

.search-form__tumb {
  padding-left: 9px;
  width: 36px;
}

@media screen and (max-width: 765px) {
  .search-form__tumb {
    padding-left: 0px;
  }  
}

.search-form__tumb-container {
  display: flex;
  align-items: center;
}  

@media screen and (max-width: 765px) {
  .search-form__tumb-container {
    position: absolute;
    display: flex;
    top: 117px;
    right: 76px;
    align-items: center;
  }  
}


.search-form__stroke {
  border: 1px solid #000000;
  padding: 0 20px 0 20px;
  transform: rotate(90deg);
}

@media screen and (max-width: 765px) {
  .search-form__stroke {
    display: none;
  }
}
