.nav-tab {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.nav-tab__button {
  background: #303030;
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  width: 96px;
  height: 36px;
  margin: 0 5px;
}

.nav-tab__button_techs {
  width: 90px;
  height: 60px;
}