.nav-tab {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  gap: 0 10px;
}

.nav-tab__content_tech  {
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(1, auto);
}

@media screen and (max-width: 320px) {
  .nav-tab__content_tech  {
    gap: 10px 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    padding-bottom: 70px;
  }
}

.nav-tab__button {
  background: #303030;
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  width: 96px;
  height: 36px;
  text-decoration: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .nav-tab__button  {
    width: 82px;
    height: 26px;
    font-size: 10px;
    border-radius: 6px;
  }
}

.nav-tab__button_techs {
  width: 90px;
  height: 60px;
}


@media screen and (max-width: 768px) {
  .nav-tab__button_techs  {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 320px) {
  .nav-tab__button_techs  {
    width: 84px;
    height: 57px;
    line-height: 15px;
  }
}


.nav-tab__button_promo:hover {
  background: rgba(48, 48, 48, 0.65);
  transition: 0.25s;
}